#
# https://developers.cloudflare.com/workers/wrangler/configuration

# https://developers.cloudflare.com/workers/wrangler/configuration/#inheritable-keys
name = "sync_complex_terms"
main = "index.js"
compatibility_date = "2025-10-31"
workers_dev = false

# https://developers.cloudflare.com/workers/configuration/cron-triggers
[triggers]
crons = ["0 */12 * * *"]

[[d1_databases]]
binding = "DB_Ontology" # i.e. available in a Worker on env.DB
database_name = "Ontology.9494.2025-12-18"
database_id = "441ed35c-dbb6-4dd0-860c-aefe18be3fc8"

[observability.logs]
enabled = true
